@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.image_fond_responsive { 
    background-image: url("/img/photo-de-couverture.jpg");
    width: 100%;
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.cc-navbar{
    background-color: rgba(0, 0, 0, 0.55);
    font-family: 'Merriweather', serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
}

.cc-navbar .nav-link{
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

.cc-navbar .nav-link:hover{
    padding-bottom: 20px;
    border-bottom-color: var(--bs-teal);
}

.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background: linear-gradient(rgba(91, 151, 109, 0.5), rgba(86, 141, 107, 0.5)), url('') center center fixed no-repeat;
    background-size: cover;
    height: 200px;
}

.cc-clearfix{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/aubergine\ cru.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 1200px;
}

.pagination{
    justify-content: right;
}
.footer-copy{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

.gallery img{
    padding: 80px 0px;
}

input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.top-content{
    background-color: rgb(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}
h3{
    height: 100%;
    background-color: rgb(226, 202, 202);
    line-height: 60px;
    padding: 0 50px;
    color: white;
    margin-bottom: 0rem;
}
label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}
label:hover{
    color: black;
}
.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic::before{
    content: "GALERIE PHOTO";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check2:checked ~ .container .photo-gallery .married{
    transform: scale(1);
    opacity: 1;
    position: relative;
}

#check2:checked ~ .container .photo-gallery .married,
#check2:checked ~ .container .photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}




